.TrendingSectionForMen{
  

    h1{
        padding: 0 0 0 10px;
        margin: 25vh 0 -10vh 0  ;
        color: black;
        font-weight: 900;
        font-size: 2rem;
        text-decoration: line-through;
    }
 
}


.TrendingSectionForWomen{
  

    h1{
        padding: 0 0 0 10px;
        margin: 15vh 0 -10vh 0  ;
        color: black;
        font-weight: 900;
        font-size: 2rem;
        text-decoration: line-through;
    }
 
}